@import './base.css';

/* 项目全局样式 */
#app {
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s;
}

a:hover {
  color: var(--primary-color-dark);
}

/* 移除默认的居中布局，使用项目自定义布局 */
